# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
backend/app/database.db
*.db
*.sqlite3

# Node modules
frontend/node_modules/
node_modules/

# Production build
frontend/dist/
dist/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Zip files
*.zip
